<h1>Hash!</h1>

<form action="/hash">
  <div class="form-group">
    <label class="form-label" for="key1">Enter key:</label>
    <input id="key1" name="key1" class="form-control" type="text" autofocus>
  </div>
  <div class="form-group">
    <label class="form-label" for="value1">Enter value:</label>
    <input id="value1" name="value1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label class="form-label" for="key2">Enter key:</label>
    <input id="key2" name="key2" class="form-control" type="text" autofocus>
  </div>
  <div class="form-group">
    <label class="form-label" for="value2">Enter value:</label>
    <input id="value2" name="value2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label class="form-label" for="key3">Enter key:</label>
    <input id="key3" name="key3" class="form-control" type="text" autofocus>
  </div>
  <div class="form-group">
    <label class="form-label" for="value3">Enter value:</label>
    <input id="value3" name="value3" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label class="form-label" for="key4">Enter key:</label>
    <input id="key4" name="key4" class="form-control" type="text" autofocus>
  </div>
  <div class="form-group">
    <label class="form-label" for="value4">Enter value:</label>
    <input id="value4" name="value4" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label class="form-label" for="key5">Enter key:</label>
    <input id="key5" name="key5" class="form-control" type="text" autofocus>
  </div>
  <div class="form-group">
    <label class="form-label" for="value5">Enter value:</label>
    <input id="value5" name="value5" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label class="form-label" for="search">Enter key to lookup:</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" id="button">Go!</button>
</form>
